*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}

body{
    font-family: 'Lato', sans-serif;
}

header,.add-todo{
    text-align: center;
    padding: 20px 0;
}

.add-todo input, .add-todo button{
    border-radius: 20px;
    padding: 10px 40px;
    cursor: pointer;   
}

.add-todo button{
    background-color: rgb(242, 41, 68); 
    font-size: 15px;
    border: none;
    margin-left: 10px;
}
.add-todo button:hover{
    color: white;
    background-color: rgb(236, 86, 26);
}

.todo-container{    
    padding: 20px;
}

.todo-container ul{
    list-style: none;
    font-size: 22px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.todo-container ul li{
    background-color: #47f8d5;
    border: 3px solid #3f5a54;
    padding: 15px 20px;
    border-radius: 30px;
    margin-bottom: 2px;
}

.todo-container ul li:hover{
    border: 3px solid #d681cf;
    background-color: #65035d;
    color: white;
}

.f-right{
    float: right;
}

h3{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}


